xsd/internal/deezerAPI/JSON_HTTP_transaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:helloWorld_ns="http://www.convertigo.com/convertigo/projects/helloWorld" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/helloWorld">
    <xsd:element name="deezerAPI__JSON_HTTP_transaction" type="helloWorld_ns:deezerAPI__JSON_HTTP_transactionRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="deezerAPI__JSON_HTTP_transactionResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="helloWorld_ns:deezerAPI__JSON_HTTP_transactionResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="deezerAPI__JSON_HTTP_transactionResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="helloWorld_ns:deezerAPI__JSON_HTTP_transactionResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI__JSON_HTTP_transactionRequestData">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_coverType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_cover_bigType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_cover_mediumType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_cover_smallType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_cover_xlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_titleType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_tracklistType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_albumType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="cover" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_coverType"/>
            <xsd:element minOccurs="0" name="cover_big" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_cover_bigType"/>
            <xsd:element minOccurs="0" name="cover_medium" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_cover_mediumType"/>
            <xsd:element minOccurs="0" name="cover_small" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_cover_smallType"/>
            <xsd:element minOccurs="0" name="cover_xl" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_cover_xlType"/>
            <xsd:element minOccurs="0" name="id" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_idType"/>
            <xsd:element minOccurs="0" name="title" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_titleType"/>
            <xsd:element minOccurs="0" name="tracklist" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_tracklistType"/>
            <xsd:element minOccurs="0" name="type" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_album_typeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_linkType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_pictureType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_picture_bigType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_picture_mediumType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_picture_smallType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_picture_xlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_tracklistType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_artistType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_idType"/>
            <xsd:element minOccurs="0" name="link" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_linkType"/>
            <xsd:element minOccurs="0" name="name" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_nameType"/>
            <xsd:element minOccurs="0" name="picture" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_pictureType"/>
            <xsd:element minOccurs="0" name="picture_big" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_picture_bigType"/>
            <xsd:element minOccurs="0" name="picture_medium" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_picture_mediumType"/>
            <xsd:element minOccurs="0" name="picture_small" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_picture_smallType"/>
            <xsd:element minOccurs="0" name="picture_xl" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_picture_xlType"/>
            <xsd:element minOccurs="0" name="tracklist" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_tracklistType"/>
            <xsd:element minOccurs="0" name="type" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_artist_typeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_durationType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_explicit_lyricsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_linkType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_previewType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_rankType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_readableType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_titleType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_title_shortType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_title_versionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_object_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_data_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="album" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_albumType"/>
            <xsd:element minOccurs="0" name="artist" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_artistType"/>
            <xsd:element minOccurs="0" name="duration" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_durationType"/>
            <xsd:element minOccurs="0" name="explicit_lyrics" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_explicit_lyricsType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="id" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_idType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_linkType"/>
            <xsd:element minOccurs="0" name="preview" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_previewType"/>
            <xsd:element minOccurs="0" name="rank" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_rankType"/>
            <xsd:element minOccurs="0" name="readable" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_readableType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="title" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_titleType"/>
            <xsd:element minOccurs="0" name="title_short" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_title_shortType"/>
            <xsd:element minOccurs="0" name="title_version" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_title_versionType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="type" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_object_typeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_dataType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_data_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_nextType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_object_totalType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI_JSON_HTTP_transaction_document_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="data" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_dataType"/>
            <xsd:element minOccurs="0" name="next" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_nextType"/>
            <xsd:element minOccurs="0" name="total" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_object_totalType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="deezerAPI__JSON_HTTP_transactionResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="object" type="helloWorld_ns:deezerAPI_JSON_HTTP_transaction_document_objectType"/>
            <xsd:element minOccurs="0" name="error" type="helloWorld_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="helloWorld_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="helloWorld_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
